.nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.organization {
  color: orangered;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth button:hover {
  background-color: #45a049;
}

.user-info {
  display: flex;
  align-items: center;
  position: relative;
}

.user-icon {
  border: 2px solid #858383;
  border-radius: 40px;
  font-size: 1.8rem;
  margin-left: 5px;
  color: #858383;
  cursor: pointer;
}

.user-popup {
  position: absolute;
  top: 35px; 
   right: 0;
  background-color: #fff;
  border: 1px solid #cccccc69;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.user-popup div {
  padding: 5px 10px;
  cursor: pointer;
}

.user-popup div:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .search-bar input {
    display: none;
  }
}
