@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* cart component */
.cart-lists{
  display: flex;
  justify-content: space-between;
  padding: 5px 90px;
  border-top: 2px solid rgb(191, 189, 185);
  margin-top: 10px;
  /* flex-direction: column; */
}

.cart-lists img{
  width: 140px;
  height: 100px;
}
.cart-delivery{
  display: flex;
 
  justify-content: space-between;
  border:  2px solid rgb(191, 189, 185);
  padding: 50px;
  color: chocolate;

}
.cart-delivery button{
  border: none;
  padding: 0px;
  background-color: orangered;
  width: 200px;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
}
@media screen and (max-width:768px) {
  .cart-lists{
    padding: 5px 20px;

  }
  .cart-delivery{
    padding: 20px;
  
  }
  .cart-delivery button{
    width: auto;
    padding: 5px;
  }

  
}